@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #43345d;
}
a {
    position: relative;
    display: inline;
    width: 160px;
    height: 50px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
}
a span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    color:#fff;
    background: #6c4ba5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    
}